button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

[role="group"] button.icon,
button.icon {
  --btn-icon-width: 38px;
  border: 0;
  padding: 0;
  margin: 0;
  width: var(--btn-icon-width);
  background: 0;
  box-shadow: none;
  color: inherit;

  &.x2 {
    width: calc(var(--btn-icon-width) * 2);
  }

  &.x3 {
    width: calc(var(--btn-icon-width) * 3);
  }

  &.x4 {
    width: calc(var(--btn-icon-width) * 4);
  }

  &:hover {
    color: var(--pico-primary-background);
  }

  &.rounded {
    border-radius: 50%;
    overflow: hidden;
  }

  &.inverse {
    opacity: 0.5;
    color: var(--pico-primary-inverse);

    &.active,
    &:hover {
      opacity: 1;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.error {
    color: white;
    background-color: var(--pico-del-color);
  }

  &.contrast {
    --pico-background-color: var(--pico-contrast-background);
    --pico-border-color: var(--pico-contrast-border);
    --pico-color: var(--pico-contrast-inverse);
  }
}

[role="group"] button.icon {
  width: 80px;
}

button.text {
  padding: 0;
  margin: 0;
  width: auto;
  background: 0;
  border: 0;
}
