@import url("./styles/buttons.css");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

svg {
  max-width: 1em;
  max-height: 1em;
}

/* Utility classes */

.t-center {
  text-align: center;
}

.rounded {
  border-radius: var(--pico-border-radius);
}

.capitalize {
  text-transform: capitalize;
}

.error {
  color: var(--pico-del-color);
}

.success {
  color: var(--pico-ins-color);
}
