@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css");

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

button,
input[type="reset"],
input[type="submit"] {
  &.icon {
    padding: 0;
    margin: 0;
    width: 38px;
  }

  &.text {
    padding: 0;
    margin: 0;
    width: auto;
    background: 0;
    border: 0;
  }
}

/* Utility classes */

.capitalize {
  text-transform: capitalize;
}

.error {
  color: var(--pico-del-color);
}

.success {
  color: var(--pico-ins-color);
}
